.gradle
/local.properties
.idea
*.iml
.DS_Store
/build
/captures
privacyonline/*.apk
privacyonline/src/main/res/values/refs.xml
privacyonline/obj
privacyonline/build
privacyonline/ovpnlibs
privacyonline/libs
